
a {
  @apply text-rose-500 ;
  
}

img {
  @apply my-8 rounded-lg w-max h-96 ;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-bold dark:text-gray-300 my-6;
  
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl font-semibold my-8;
  
}

p {
  @apply my-4 dark:text-gray-400 leading-loose;
}
ul, ol {
  @apply list-disc pl-5 my-2;
}

li {
  @apply my-4 text-gray-500;
}

blockquote {
  @apply border-l-4 border-rose-500 pl-4 italic my-8 text-xl;
}

code {
  @apply p-1 rounded-lg;
  background-color: #2d2d2d; /* Dark background for code */
  font-family: 'Fira Code', monospace; /* Monospaced font */
}

/* Additional CSS for specific syntax highlighting (manually) */

pre {
  background-color: #2d2d2d; /* Dark background */
  color: #f8f8f2; /* Light text color */
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
