@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 40, 40;
  --background-rgb: 254, 250, 234;
  --link-rgb: 80, 80, 80;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
